body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  width: 414px;
  height: 896px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.header img:first-child {
  width: 50px;
  height: auto;
}

.header img:last-child {
  height: 40px;
  object-fit: contain;
}

/* Title */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 60px;
}

/* Video container */
#video-container {
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 240px;
  margin: 0 auto 20px;
  border-radius: 12px;
  overflow: hidden;
  background: black;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Feedback */
#feedback {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
}

/* Mascota image at the bottom */
.mascota {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 134px;
  height: 136px;
}

#salir-btn {
  padding: 15px 10px;
  font-size: 18px;
  background-color: #ff5c5c; /* rojo para destacar */
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 20px; /* espacio debajo */
  width: 250px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

#salir-btn:hover {
  background-color: #e04b4b;
}